@tailwind base;
@tailwind components;

.hero {
  @apply text-center py-10;
}

.title {
  @apply text-center text-5xl;
  color: #333333;
  line-height: 1.15;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.scramble-image {
  @apply m-auto;
  display: inline-block;
}

@tailwind utilities;
